.App {
  text-align: center;
  height: calc(100vh - 50px);
}

.logoImage {
  position: absolute;
  bottom: -30px;
  left: 20px;
  height: 70px;
  width: 70px;
}

.appHeader {
  padding: 0;
  margin: 0;
  background-color: #ffe69a;
  height: 50px;
  position: relative;
}

@import '~@mdi/font/css/materialdesignicons.css';
  .mdi-18px { font-size: 18px; }
  .mdi-24px { font-size: 24px; }
  .mdi-36px { font-size: 36px; }
  .mdi-48px { font-size: 48px; }
  .mdi-dark { color: rgba(0, 0, 0, 0.54); }
  .mdi-dark.mdi-inactive { color: rgba(0, 0, 0, 0.26); }
  .mdi-light { color: rgba(255, 255, 255, 1); }
  .mdi-light.mdi-inactive { color: rgba(255, 255, 255, 0.3); }
